extends header

block content
    script(src="{{ url_for('static', filename='controllers/feedback.js') }}")
    div(ng-controller="login"
        class="container")
        h2 Panopticon Surveillance
        img(src="{{ url_for('static', filename='logo.png') }}"
            class="logo")
        h1 Feedback Form

        form()
            p
                label(for='fb') Please enter any questions, comments, or concerns
                input(type="text"
                    id="passwd"
                    ng-model="formData.feedback"
                    placeholder="Please enter feedback")

            p
                button(type="submit"
                    ng-click="feedback()") Submit
        p(ng-if="error") {!error!}
        p(ng-if="message"
            class="message-text") {!message!}

        p
            a(href="/login") Login