extends header

block content
    script(src="{{ url_for('static', filename='controllers/login.js') }}")
    div(ng-controller="login"
        id="container")
        h2 Panopticon Surveillance
        img(src="{{ url_for('static', filename='logo.png') }}"
            class="logo")
        h1 Login

        form
            p
                label(for='uname') Username
                input(type="text"
                    id="uname"
                    ng-model="formData.user"
                    placeholder="Please enter name")

            p
                label(for='passwd') Password
                input(type="password"
                    id="passwd"
                    ng-model="formData.password"
                    placeholder="Please enter password")

            p
                button(type="submit" ng-click="login()") Login
            p(ng-if="error") {!error!}

        p(class="info")
            a(href="/feedback") Provide Feedback